:root {
  // Use custom properties, i.e.:
  // --color-blue: #091B91;

  --color-white: #f6f6f6;
  --color-blue: #097aff;
  --color-blue-05: rgba(#097aff,.05);
  --color-blue-15: rgba(#097aff,.15);
  --color-purple: #671e8b;
}
